#partitura {
    background-color: darkgray;
    padding: 30px 0px 320px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha {
    margin-bottom: 30px;
    padding: 1px 700px;
    background-color: black;
    position: relative;
    float: left;
}

img {
    background-color: none;
    height: 180px;
    position: relative;
    right: 650px;
    top: 170px;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.nota-f {
    padding: 6px;
    background-color: black;
    position: relative;
    border-radius: 50px;
    bottom: 403px;
    right: 580px;
    display: none;
}

.nota-e {
    padding: 6px;
    background-color: black;
    position: relative;
    border-radius: 50px;
    bottom: 387px;
    right: 580px;
    display: none;
}

.nota-c {
    padding: 6px;
    background-color: black;
    position: relative;
    border-radius: 50px;
    bottom: 355px;
    right: 580px;
    display: none;
}

.nota-d {
    padding: 6px;
    background-color: black;
    position: relative;
    border-radius: 50px;
    bottom: 371px;
    right: 580px;
    display: none;
}

.nota-g {
    padding: 6px;
    background-color: black;
    position: relative;
    border-radius: 50px;
    bottom: 415px;
    right: 580px;
    display: none;
}

.nota-a {
    padding: 6px;
    background-color: black;
    position: relative;
    border-radius: 50px;
    bottom: 323px;
    right: 580px;
    display: none;
}

.nota-b {
    padding: 6px;
    background-color: black;
    position: relative;
    border-radius: 50px;
    bottom: 339px;
    right: 580px;
    display: none;
}

#compasso {
    padding: 100px 1px;
    position: relative;
    background-color: blueviolet;
    bottom: 200px;
    right: calc(600px);
}